:root {
  --firstSection: #745e51;
  --secondSection: #fff;
  --thirdSection: #f9c41c;
  --fourSection: #222222;
  --fiveSection: #1d809f;
  --sixSection: #c08457;
  --underBar: #e86741;
  --moreBtn: #f46239;
  --moreBtnHover: #f04515;
  --grayBg: #999999;
  --blackBg: #000000;
  --white: #ffffff;
  --skillUnderBarBg: #cccccc;
}
